* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "OpenSans";
  src: url(../font/OpenSans-Bold.ttf);
  font-weight: 700px;
}
@font-face {
  font-family: "OpenSans";
  src: url(../font/OpenSans-Regular.ttf);
  font-weight: 400px;
}
@font-face {
  font-family: "Tinos";
  src: url(../font/Tinos-Regular.ttf);
  font-weight: 400px;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 1025px) {
  .container {
    max-width: unset;
    padding: 0 10px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 14px;
  }
}

.btn {
  background-color: #FF7400;
  color: #fff;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 18px;
}

.header {
  padding: 50px 0;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 100px;
}
.header__logo img {
  width: 100%;
}
@media (max-width: 863px) {
  .header__logo {
    width: 75px;
  }
}
@media (max-width: 779px) {
  .header__logo {
    width: 55px;
  }
}
@media (max-width: 500px) {
  .header__logo {
    width: 45px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 779px) {
  .header__burger {
    display: block;
  }
}
.header__block {
  display: flex;
  align-items: center;
}
@media (max-width: 780px) {
  .header__block {
    display: none;
  }
}
.header__menu {
  display: flex;
  gap: 23px;
  margin-right: 36px;
}
@media (max-width: 863px) {
  .header__menu {
    font-size: 14px;
    font-weight: 400;
  }
}
.header__link {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: OpenSans;
}
.header__link:hover {
  color: #656363;
}
.header__box {
  display: flex;
  align-items: center;
  margin-right: 35px;
}
@media (max-width: 863px) {
  .header__box {
    margin-right: 25px;
  }
}
.header__cart {
  border-right: 1px solid #fff;
  padding: 17px 21px 17px 0;
  margin-right: 34px;
}
@media (max-width: 863px) {
  .header__cart {
    margin-right: 20px;
  }
}
.header__phone-link {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  font-family: OpenSans;
  display: flex;
  gap: 10px;
}
@media (max-width: 863px) {
  .header__phone-link {
    font-size: 12px;
    font-weight: 400;
  }
}
.header__phone-text {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: OpenSans;
  max-width: 155px;
}
@media (max-width: 863px) {
  .header__btn {
    text-align: center;
  }
}

.main {
  background-image: url(../img/hero\ image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@media (max-width: 500px) {
  .main {
    background-image: url(../img/hero\ image.png);
    background-repeat: no-repeat;
  }
}
@media (max-width: 500px) {
  .main {
    height: unset;
    padding-bottom: 305px;
  }
}
.main__block {
  max-width: 485px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 863px) {
  .main__block {
    margin-top: 206px;
  }
}
@media (max-width: 500px) {
  .main__block {
    margin-top: 250px;
  }
}
.main__subtitle {
  font-family: Tines;
  font-weight: 400;
  color: #D67E35;
  font-size: 50px;
}
@media (max-width: 863px) {
  .main__subtitle {
    font-size: 30px;
  }
}
.main__title {
  font-family: Tines;
  font-weight: 400;
  color: #D67E35;
  font-size: 80px;
  margin-bottom: 12px;
}
@media (max-width: 863px) {
  .main__title {
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  .main__title {
    font-size: 40px;
  }
}
.main__text {
  font-family: OpenSans;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.main__text::before, .main__text::after {
  content: "";
  display: block;
  width: 61px;
  height: 1px;
  background-color: #fff;
}
@media (max-width: 500px) {
  .main__text::before, .main__text::after {
    display: none;
  }
}

.history {
  margin-top: -60px;
  padding-bottom: 200px;
}
.history__card {
  width: 349px;
  height: 328px;
  box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, 0.1);
  padding: 48px 25px 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
  text-align: center;
  background-color: #fff;
}
@media (max-width: 1025px) {
  .history__card {
    width: 320px;
    height: 300px;
    padding: 40px 20px 20px 20px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .history__card {
    padding: 20px;
    width: 100%;
  }
}
.history__card-title {
  color: #2C2C2C;
  font-size: 26px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.history__card-title span {
  color: #D67E35;
}
@media (max-width: 1025px) {
  .history__card-title {
    font-size: 20px;
  }
}
.history__card-text {
  color: #656363;
}
.history__card-wrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: -110px;
}
@media (max-width: 767px) {
  .history__card-wrap {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .history__card-wrap {
    margin-top: -170px;
    gap: 15px;
  }
}
.history__text-part {
  text-align: center;
}
.history__bottom-bock {
  display: flex;
  align-items: center;
  margin-top: 130px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .history__bottom-bock {
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
}
.history__text {
  max-width: 444px;
  color: #656363;
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: OpenSans;
}
@media (max-width: 767px) {
  .history__text {
    width: auto;
  }
}
.history__food-counts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: OpenSans;
}
@media (max-width: 400px) {
  .history__food-counts {
    flex-direction: column;
    align-items: center;
    gap: 19px;
  }
}
.history__food-count {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.history__food-count span {
  font-size: 40px;
  color: #D67E35;
}
.history__img-part img {
  width: 100%;
}

.section-title {
  font-size: 54px;
}
.section-title span {
  color: #D67E35;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 46px;
  }
}
@media (max-width: 400px) {
  .section-title {
    font-size: 40px;
  }
}

.order {
  padding-top: 80px;
  padding-bottom: 100px;
  background-image: url(../img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1025px) {
  .order {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}
@media (max-width: 400px) {
  .order {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.order__text-title {
  color: #D67E35;
  font-size: 52px;
  margin-bottom: 20px;
}
@media (max-width: 1025px) {
  .order__text-title {
    font-size: 36px;
  }
}
@media (max-width: 400px) {
  .order__text-title {
    font-size: 30px;
  }
}
.order__text-block {
  max-width: 601px;
}
.order__text-block p {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: OpenSans;
}
@media (max-width: 1025px) {
  .order__text-block {
    text-align: center;
  }
}
.order__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1025px) {
  .order__wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.chefs__text {
  font-size: 54px;
  text-align: center;
  margin-top: 136px;
  margin-bottom: 107px;
}
.chefs__text span {
  color: #D67E35;
}
.chefs__imgs {
  display: flex;
  gap: 31px;
  margin-bottom: 194px;
}
@media (max-width: 1025px) {
  .chefs__imgs {
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .chefs__imgs {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }
}
@media (max-width: 1110px) {
  .chefs__img {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .chefs__img {
    width: 227px;
  }
}

.cafe {
  background-image: url(../img/bar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cafe__text {
  text-align: center;
  font-size: 54px;
  font-family: Tinos;
  color: #fff;
  padding-top: 100px;
  margin-bottom: 138px;
}
.cafe__block {
  max-width: 350px;
  background-color: #fff;
  padding-right: 58px;
  padding-bottom: 43px;
}
@media (max-width: 1110px) {
  .cafe__block {
    width: 300px;
  }
}
@media (max-width: 1023px) {
  .cafe__block {
    width: 300px;
  }
}
.cafe__wrap {
  margin-top: 44px;
  display: flex;
  flex-direction: reverse;
  flex-direction: column;
  align-items: center;
  margin-left: 62px;
}
.cafe__recommended {
  max-width: 125px;
  font-size: 13px;
  background-color: #FF7400;
  padding: 9px 12px;
  font-family: OpenSans;
}
.cafe__title-burger {
  font-family: Tinos;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 17px;
}
.cafe__blocks {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 208px;
}
@media (max-width: 767px) {
  .cafe__blocks {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }
}
.cafe__burger {
  margin-bottom: 22px;
}
.cafe__text-burger {
  font-size: 16px;
  font-family: OpenSans;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 769px) {
  .cafe__block3 {
    display: none;
  }
}
@media (max-width: 321px) {
  .cafe__block2 {
    display: none;
  }
}
.cafe__recommended1 {
  max-width: 125px;
  max-width: 125px;
  font-size: 13px;
  padding: 17px 12px;
  font-family: OpenSans;
}

.feedback {
  background-color: #E5E5E5;
}
.feedback__block {
  padding-top: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  padding-bottom: 139px;
  max-width: 920px;
}
@media (max-width: 1441px) {
  .feedback__bloks {
    margin-left: 120px;
  }
}
@media (max-width: 1025px) {
  .feedback__bloks {
    margin-left: 40px;
  }
}
@media (max-width: 769px) {
  .feedback__bloks {
    margin-left: 0px;
  }
}
.feedback__foto {
  width: 100px;
}
.feedback__text {
  font-size: 20px;
  font-family: OpenSans;
  text-align: center;
}
.feedback__title {
  font-size: 20px;
  font-family: OpenSans;
  font-weight: 700;
}
.feedback__name {
  font-size: 20px;
  font-family: OpenSans;
}