$btn_color:#FF7400;
$font_text-color:#656363;
$font_title-color:#D67E35;
*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}
@font-face {
    font-family: "OpenSans";
    src: url(../font/OpenSans-Bold.ttf);
    font-weight: 700px;
}
@font-face {
    font-family: "OpenSans";
    src: url(../font/OpenSans-Regular.ttf);
    font-weight: 400px;
}
@font-face {
    font-family: "Tinos";
    src: url(../font/Tinos-Regular.ttf);
    font-weight: 400px;
}
a{
    text-decoration: none;

}
li{
    list-style: none;

}
.container{
    max-width: 1110px;
    margin: 0 auto;
    @media (max-width: 1025px) {
        max-width: unset;
        padding: 0 10px;
    }
    @media (max-width: 500px) {
       padding: 0 14px;
    }
}
.btn{
    background-color: $btn_color;
    color: #fff;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 18px;
}
.header{

    padding: 50px 0;
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        width: 100px;
        & img{
            width: 100%;
        }
        @media (max-width: 863px) {
            width: 75px;
        }
        @media (max-width: 779px) {
            width: 55px;
        }
        @media (max-width: 500px) {
            width: 45px;
        }
    }
    &__burger{
        display: none;
        @media (max-width: 779px) {
            display: block;
        }
    }
    &__block{
        display: flex;
        align-items: center;
        @media (max-width: 780px) {
            display: none;
        }
    }
    &__menu{
        display: flex;
        gap: 23px;
        margin-right: 36px;
        @media (max-width: 863px) {
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__link{
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        font-family: OpenSans;
        &:hover{
            color: $font_text-color;
        }
    }
    &__box{
        display: flex;
        align-items: center;
        margin-right: 35px;
        @media (max-width: 863px) {
            margin-right: 25px;
        }
    }
    &__cart{
        border-right: 1px solid #fff;
        padding: 17px 21px 17px 0;
        margin-right: 34px;
        @media (max-width: 863px) {
            margin-right: 20px;
        }
    }
    &__phone{
        &-link{
            color: #fff;
            font-weight: 700;
            font-size: 18px;
            font-family: OpenSans;
            display: flex;
            gap: 10px;
            @media (max-width: 863px) {
                font-size: 12px;
                font-weight: 400;
            }
        
        }
        &-text{
            color: #fff;
            font-weight: 400;
            font-size: 14px;
            font-family: OpenSans;
            max-width: 155px;
        }
    }
    &__btn{
        @media (max-width: 863px) {
            text-align: center;
        }
    }
    
}
.main{
    background-image: url(../img/hero\ image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    @media (max-width: 500px) {
        background-image: url(../img/hero\ image.png);
        
        background-repeat: no-repeat;

    }
    @media (max-width: 500px) {
        height: unset;
        padding-bottom: 305px;
    }
    &__block{
        max-width: 485px;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 863px) {
            margin-top: 206px;
        }
        @media (max-width: 500px) {
            margin-top: 250px;
        }
    }
    &__subtitle{
        font-family: Tines;
        font-weight: 400;
        color: $font_title-color;
        font-size: 50px;
        @media (max-width: 863px) {
            font-size: 30px;
        }
    }
    &__title{
        font-family: Tines;
        font-weight: 400;
        color: $font_title-color;
        font-size: 80px;
        margin-bottom: 12px;
        @media (max-width: 863px) {
            font-size: 60px;
        }
        @media (max-width: 500px) {
            font-size: 40px;
        }
       
    }
    &__text{
        font-family:OpenSans;
        font-weight: 700;
        color: #fff;
        font-size: 18px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        gap: 8px;
        &::before, &::after{
            content: '';
            display: block;
            width: 61px;
            height: 1px;
            background-color: #fff;
            @media (max-width: 500px) {
                display: none;
            }
        }
    }
}
.history{
    //padding-top: 200px;
    margin-top: -60px;
    padding-bottom: 200px;
    &__card{
        width: 349px;
        height: 328px;
        box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, .1);
        padding: 48px 25px 20px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 26px;
        text-align: center;
        background-color: #fff;
        @media (max-width: 1025px) {
            width: 320px;
            height: 300px;
            padding: 40px 20px 20px 20px;
            font-size: 20px;
        }
        @media (max-width: 768px) {
            padding: 20px;
            width: 100%;
        }
    }
    &__card-title{
        color: #2C2C2C;
        font-size: 26px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 20px;
        span{
            color: $font_title-color;
        }
        @media (max-width: 1025px) {
            font-size: 20px;
        }
    }
    &__card-text{
        color: $font_text-color;
    }
    &__card-wrap{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: -110px;
        
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 500px) {
            margin-top: -170px;
            gap: 15px;
        }
    }
    &__text-part{
        text-align: center;
    }
    &__bottom-bock{
        display: flex;
        align-items: center;
        margin-top: 130px;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            gap: 45px;
        }
        
    }
    &__text{
        max-width: 444px;
        color: $font_text-color;
        margin-top: 20px;
        margin-bottom: 60px;
        font-family: OpenSans;
        @media (max-width: 767px) {
            width: auto;
        }
        
    }
    &__food-counts{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-family: OpenSans;
        @media (max-width: 400px) {
            flex-direction: column;
            align-items: center;
            gap: 19px;
        }
    }
    &__food-count{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        span{
            font-size: 40px;
            color: $font_title-color;
        }
    }
    &__img-part{
        img{
            width: 100%;
            
        }
    }

}
.section-title{
    font-size: 54px;
    span{
        color: $font_title-color;
    }
    @media (max-width: 768px) {
        font-size: 46px;
    }
    @media (max-width: 400px) {
        font-size: 40px;
    }
}
.order{
    padding-top: 80px;
    padding-bottom: 100px;
    background-image: url(../img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: 1025px) {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    @media (max-width: 400px) {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    &__text-title{
        color: $font_title-color;
        font-size: 52px;
        margin-bottom: 20px;
        @media (max-width: 1025px) {
            font-size: 36px;
        }
        @media (max-width: 400px) {
            font-size: 30px;
        }
    }
    &__text-block{
        max-width: 601px;
        p{
            font-size: 24px;
            color: #fff;
            font-weight: 700;
            font-family: OpenSans;
        }
        @media (max-width: 1025px) {
            text-align: center;
            
        }
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1025px) {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    }
}
.chefs{
    &__text{
        font-size: 54px;
        text-align: center;
        margin-top: 136px;
        margin-bottom: 107px;
        span{
            color: $font_title-color;
        }
    }
    &__imgs{
        display: flex;
        gap: 31px;
        margin-bottom: 194px;
        @media (max-width: 1025px) {
        justify-content: space-between;
        }
        @media (max-width: 767px) {
           flex-direction: column;
           max-width: 100%;
           align-items: center;
        }
    }
    &__img{
        @media (max-width: 1110px) {
            width: 300px;
            
        }
        @media (max-width: 768px) {
            width: 227px;
        }
    }
}
.cafe{
    background-image: url(../img/bar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__text{
        text-align: center;
        font-size: 54px;
        font-family: Tinos;
        color: #fff;
        padding-top: 100px;
        margin-bottom: 138px;
    }
    &__block{
        max-width: 350px;
        background-color: #fff;
        padding-right: 58px;
        padding-bottom: 43px;
        @media (max-width: 1110px) {
            width: 300px;
        }
        @media (max-width: 1023px) {
            width: 300px;
        }
        
        
    }
    &__wrap{
        margin-top: 44px;
        display: flex;
        flex-direction: reverse;
        flex-direction:column;
        align-items: center;
        margin-left: 62px;
        
    }
    &__recommended{
        max-width: 125px;
        font-size: 13px;
        background-color: $btn_color;
        padding: 9px 12px;
        font-family: OpenSans;
    }
    &__title-burger{
        font-family: Tinos;
        font-weight: 400;
        font-size: 26px;
        margin-bottom: 17px;
    
    }
    &__blocks{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 208px;
        @media (max-width: 767px) {
            flex-direction: column;
            max-width: 100%;
            align-items: center;
        }
    }
    &__burger{
        margin-bottom: 22px;
    }
    &__text-burger{
        font-size: 16px;
        font-family: OpenSans;
        text-align: center;
        margin-bottom: 20px;
    }
    &__block3{
        @media (max-width: 769px) {
            display: none;
        }
    }
    &__block2{
        @media (max-width: 321px) {
            display: none;
        }
    }
    &__recommended1{
        max-width: 125px;
        max-width: 125px;
        font-size: 13px;
        
        padding: 17px 12px;
        font-family: OpenSans;
    }
    
}
.feedback{
    background-color: #E5E5E5;
    &__block{
        padding-top: 104px;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        gap: 17px;
        padding-bottom: 139px;
        max-width: 920px;
        
    }
    &__bloks{
       
        
        @media (max-width: 1441px) {
            margin-left: 120px;
        }
        @media (max-width: 1025px) {
            margin-left: 40px;
        }
        @media (max-width: 769px) {
            margin-left: 0px;
        }
    }
    &__foto{
        width: 100px;
    }
    &__text{
        font-size: 20px;
        font-family: OpenSans;
        text-align: center;
    }
    &__title{
        font-size: 20px;
        font-family: OpenSans;
        font-weight: 700;
    }
    &__name{
        font-size: 20px;
        font-family: OpenSans;
    }
    
}